.search {
    background-color:black;
    color:yellow;
}

.sunny {
    color:orange;
}

.partly {
    color:lightgray;
}

.rainy {
    color:cornflowerblue;
}

.city {
    color:green;
}

.title {
    color:deeppink;
}